.item_details_form {
  max-width: 1100px;
  margin: auto;
  background-color: #ebeefd;

  border-radius: 16px;
  padding: 32px;
}

.form_row {
  display: flex;
  justify-content: space-between;
  gap: 32px;

  /* flex-wrap: wrap; */
}

.form_item {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
  margin: 12px 0px;
}

.input_extra_details {
  color: gray;
  margin-top: -5px;
}

.input_field {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid lightgray;
}
