.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #007aff;
  padding: 0.6rem 1.3rem;
}

.navbar_branding{
    display: flex;
    align-items: center;
    color: #fff;
    gap: 0.6rem;
}

.brand{
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 50%;
}

.navigation_links {
    color: #fff;
}